<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/bundle.css" />
  <body>
  <header>
        <div class="header-container">
            <div class="logo">
                <img src="/assets/images/cover.png" alt="Logo"/>
                <h1>David's archive
            </div>
            <nav>
        <a href="/">Home</a>
        <a href="/archive">Archive</a>
        <a href="/about-me">About me</a>
        <a href="/other-projects">Other projects</a>
            </nav>
        </div>
    </header>
    <main>{{ content | safe }}</main>
  </body>
</html>
