html {
	background-color: #181a1b;
  margin: 0;
}

@font-face {
	font-family: Atkinson;
	src: url('/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
	font-display: swap;
}

body {
	font-family: 'Atkinson';
	width: 768px;
	padding-top: 2rem;
	margin: 0 auto;
	color: whitesmoke;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  padding-right: 1rem;
  width: 64px;
  height: 64px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0px 3px;
}

p {
  margin: 0;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0;
}

a {
	color: #7eb6c9;
  text-decoration: none; /* Remove default underline */
}

a:hover {
  text-decoration: underline; /* Underline on hover */
}

a:visited {
  color: #b86bff; /* Visited link color */
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #2d2d2d; /* Darker table background */
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #444444; /* Darker border */
}

th {
  background-color: #1f1f1f; /* Darker header background */
  color: #ffffff; /* Lighter header text color */
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #333333; /* Even row background */
}

tr:hover {
  background-color: #3f3f3f; /* Hovered row background */
}
