---
title: Ikea catalogues (1950-2000)
tags: 
- catalogues
- posts
permalink: catalogues/ikea.html
description: This collection of catalogues features a scan of every yearly edition going from 1950 to 2000
layout: base.njk
---

<h1>{{ title }}</h1>

<h2>1950's</h2>

{% set filteredFiles = collections.fileList | filterByName("Ikea_catalog") | filterByDecade(1950) %}

{% if filteredFiles.length > 0 %}
  <table>
  <tr>
    <th>Name</th>
    <th>Extension</th>
    <th>Path</th>
    <th>Created</th>
    <th>Last modified</th>
  </tr>
  {% for file in filteredFiles %}  
    <tr>
      <td><a href="{{ file.path }}" target="_blank">{{ file.name }}</a></td>
      <td>{{ file.extension }}</td>
      <td>{{ file.path }}</td>
      <td>{{ file.created | localDate }}</td>
      <td>{{ file.modified | localDate }}</td>
    </tr>
  {% endfor %}
</table>  
{% else %}
  <p>No file data to display</p>
{% endif %}

<h2>1960's</h2>

{% set filteredFiles = collections.fileList | filterByDecade(1960) %}

{% if filteredFiles.length > 0 %}
  <table>
  <tr>
    <th>Name</th>
    <th>Extension</th>
    <th>Path</th>
    <th>Created</th>
    <th>Last modified</th>
  </tr>
  {% for file in filteredFiles %}  
    <tr>
      <td><a href="{{ file.path }}" target="_blank">{{ file.name }}</a></td>
      <td>{{ file.extension }}</td>
      <td>{{ file.path }}</td>
      <td>{{ file.created | localDate }}</td>
      <td>{{ file.modified | localDate }}</td>
    </tr>
  {% endfor %}
</table>  
{% else %}
  <p>No file data to display</p>
{% endif %}

<h2>1970's</h2>

{% set filteredFiles = collections.fileList | filterByDecade(1970) %}

{% if filteredFiles.length > 0 %}
  <table>
  <tr>
    <th>Name</th>
    <th>Extension</th>
    <th>Path</th>
    <th>Created</th>
    <th>Last modified</th>
  </tr>
  {% for file in filteredFiles %}  
    <tr>
      <td><a href="{{ file.path }}" target="_blank">{{ file.name }}</a></td>
      <td>{{ file.extension }}</td>
      <td>{{ file.path }}</td>
      <td>{{ file.created | localDate }}</td>
      <td>{{ file.modified | localDate }}</td>
    </tr>
  {% endfor %}
</table>  
{% else %}
  <p>No file data to display</p>
{% endif %}

<h2>1980's</h2>

{% set filteredFiles = collections.fileList | filterByDecade(1980) %}

{% if filteredFiles.length > 0 %}
  <table>
  <tr>
    <th>Name</th>
    <th>Extension</th>
    <th>Path</th>
    <th>Created</th>
    <th>Last modified</th>
  </tr>
  {% for file in filteredFiles %}  
    <tr>
      <td><a href="{{ file.path }}" target="_blank">{{ file.name }}</a></td>
      <td>{{ file.extension }}</td>
      <td>{{ file.path }}</td>
      <td>{{ file.created | localDate }}</td>
      <td>{{ file.modified | localDate }}</td>
    </tr>
  {% endfor %}
</table>  
{% else %}
  <p>No file data to display</p>
{% endif %}

<h2>1990's</h2>

{% set filteredFiles = collections.fileList | filterByDecade(1990) %}

{% if filteredFiles.length > 0 %}
  <table>
  <tr>
    <th>Name</th>
    <th>Extension</th>
    <th>Path</th>
    <th>Created</th>
    <th>Last modified</th>
  </tr>
  {% for file in filteredFiles %}  
    <tr>
      <td><a href="{{ file.path }}" target="_blank">{{ file.name }}</a></td>
      <td>{{ file.extension }}</td>
      <td>{{ file.path }}</td>
      <td>{{ file.created | localDate }}</td>
      <td>{{ file.modified | localDate }}</td>
    </tr>
  {% endfor %}
</table>  
{% else %}
  <p>No file data to display</p>
{% endif %}

<h2>2000's</h2>

{% set filteredFiles = collections.fileList | filterByDecade(2000) %}

{% if filteredFiles.length > 0 %}
  <table>
  <tr>
    <th>Name</th>
    <th>Extension</th>
    <th>Path</th>
    <th>Created</th>
    <th>Last modified</th>
  </tr>
  {% for file in filteredFiles %}  
    <tr>
      <td><a href="{{ file.path }}" target="_blank">{{ file.name }}</a></td>
      <td>{{ file.extension }}</td>
      <td>{{ file.path }}</td>
      <td>{{ file.created | localDate }}</td>
      <td>{{ file.modified | localDate }}</td>
    </tr>
  {% endfor %}
</table>  
{% else %}
  <p>No file data to display</p>
{% endif %}