---
title: David's archive
layout: base.njk
---

<h1>Newest additions</h1>

{%- for post in collections.posts -%}
<h2>{{ post.data.title }}</h2>
<p>{{ post.data.description }}</p>
<a href={{ post.data.permalink }}>You can find them here</a>
{%- endfor -%}

<hr>

<h1>Newspapers</h1>

{%- for post in collections.newspaper -%}
  <a href={{ post.data.permalink }}>{{ post.data.title }}</a>
{%- endfor -%}

<hr>

<h1>Catalogues</h1>

{%- for post in collections.catalogues -%}
  <a href={{ post.data.permalink }}>{{ post.data.title }}</a>
{%- endfor -%}